.button {
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--color-blue-2);
  color: white;
  outline: 0;
  border: 0;
  padding: 5% 14%;
  border-radius: 100vw;
  text-shadow: 0 2px 6px #333;
  letter-spacing: 3px;
  margin: 1.8rem auto;
  display: block;
}
